{% style %}
    .benefits-snippet ul{
        padding-left: 0;
    }
    .benefits-snippet ul li{
        list-style: none;
    }
    .benefits-snippet ul li svg{
        margin-right: 8px;
    }
    .benefits-snippet .benefits-snippet__title{
        font-weight: 900;
    }
{% endstyle %}
<div class="benefits-snippet growthbook-test">
  {% assign product_vendor_lowcase = product.vendor | downcase %}
    {% if product_vendor_lowcase contains 'h2eau' %}
    <div class="benefits-snippet__title">Clean Reserve H2EAU</div>
    <ul>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Long-lasting.</strong> Water based formula without compromising quality</li>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Gentle.</strong> Water-based formula that is gentle to the skin</li>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Hydrating.</strong> A moisturizing water base with hydrating benefits</li>
    </ul>

    {% elsif product_vendor_lowcase contains 'reserve' %}
    <div class="benefits-snippet__title">Clean Reserve</div>
    <ul>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Clean Elevated.</strong> Clean & premium alternative to traditional fragances</li>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Farm-to-Frangrance.</strong> Infused with premium sustainable ingredients from farms around the world</li>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Unique Scent Twist.</strong> An olfactive range from dewy and fresh to fun and flirty with a clean scent twist</li>
    </ul>
    {% elsif product_vendor_lowcase contains 'classic' %}
    <div class="benefits-snippet__title">Clean Classic</div>
    <ul>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Clean.</strong> Inspired by the fresh and clean scent of a bar of soap</li>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Mix & Match.</strong> Scents are linear and remain consistent from first spritz to sundown making them ideal for layering</li>
      <li><svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.21625 10.29C5.10199 10.2896 4.98902 10.2657 4.88437 10.2199C4.77972 10.174 4.68562 10.1071 4.60792 10.0233L0.557917 5.71496C0.406522 5.55362 0.325421 5.33875 0.332453 5.11761C0.339486 4.89648 0.434077 4.68719 0.595417 4.5358C0.756757 4.3844 0.97163 4.3033 1.19277 4.31033C1.4139 4.31737 1.62319 4.41196 1.77458 4.5733L5.20792 8.23163L12.2162 0.564964C12.2874 0.4764 12.3758 0.40331 12.4762 0.350184C12.5766 0.297058 12.6868 0.265017 12.8001 0.25603C12.9133 0.247043 13.0272 0.2613 13.1347 0.297924C13.2422 0.334548 13.3411 0.392766 13.4253 0.469003C13.5095 0.545239 13.5772 0.637885 13.6243 0.74125C13.6714 0.844615 13.6969 0.956516 13.6992 1.07008C13.7014 1.18364 13.6805 1.29647 13.6376 1.40164C13.5946 1.50681 13.5307 1.60209 13.4496 1.68163L5.83292 10.015C5.75595 10.1003 5.66218 10.1687 5.55749 10.216C5.4528 10.2634 5.33946 10.2885 5.22458 10.29H5.21625Z" fill="#A8636C"/>
        </svg>
        <strong>Easy-to-Wear.</strong> Not heavy or offensive - wear anywhere, anytime</li>
    </ul>
  {% endif %}
  </div>