<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/zYln_SMLjOvE2BjctEh9Nw" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="476243"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="476242"></div>
<Center> <b> Questions about how Clean & Conscious Rewards works? Check out our <a href=https://www.cleanbeauty.com/pages/faq>FAQ Page</a></Center></b>
<div class="yotpo-widget-instance" data-yotpo-instance-id="476244"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="476246"></div>
<div class="yotpo-widget-instance" data-yotpo-instance-id="483954"></div>
{% if customer and customer.tags contains 'swell_vip_bloom'%}
<div class="yotpo-widget-instance" data-yotpo-instance-id="506307"></div>
{% endif %}
<div class="yotpo-widget-instance" data-yotpo-instance-id="483951"></div>

